// These override airbnb eslint configuration options
{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "comma-dangle": 0,
    "no-console": 2,
    "class-methods-use-this": 0,
    "no-alert": 2,
    "arrow-body-style": 0,
    "no-compare-neg-zero": 2,
    "react/prefer-stateless-function": 0,
    "react/jsx-closing-bracket-location": [1, "after-props"],
    "react/forbid-prop-types": [1, {"forbid": ["any","object"]}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}
